# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/
gpt_chat_env/
# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and databases
*.log
*.sqlite3

# System-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.vscode/
.idea/
*.swp 

# ENV file
.env 

e-mediator-436022-k1-50cd851f9002.json